h1 {
    font-size: 100px;
    position: relative;
    top: 30px;
    left: 25px;
    background-color: rgb(233, 172, 156);
}

p {
    background-color: rgb(233, 172, 156);
    font-size: 25px; position: relative;
    top: 40px;
    left: 25px;
}

h2 {
    position: relative;
    left: 25px;
    background-color: rgb(233, 172, 156);
    top: 110px;
}

ul {
    background-color: rgb(233, 172, 156);
    position: relative;
    left: 30px; 
    top: 130px;
    font-size: 30px;
}

img {
    position: relative; 
    left: 720px;
    bottom: 355px;
    width: 1170px;
    height: 800px;
}
